@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 230 15% 95%;
    --foreground: 231 15% 18%;
    --card: 230 15% 95%;
    --card-foreground: 231 15% 18%;
    --popover: 230 15% 95%;
    --popover-foreground: 231 15% 18%;
    --primary: 326 100% 74%;
    --primary-foreground: 231 15% 18%;
    --secondary: 265 89% 78%;
    --secondary-foreground: 231 15% 18%;
    --muted: 232 14% 85%;
    --muted-foreground: 231 15% 18%;
    --accent: 135 94% 65%;
    --accent-foreground: 231 15% 18%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 231 15% 18%;
    --border: 232 14% 85%;
    --input: 232 14% 85%;
    --ring: 326 100% 74%;
    --radius: 0.3rem;

    --card-bg: hsl(230 15% 95%);
    --active-filter-bg: hsl(326 100% 74% / 0.2);
    --income: 135 94% 65%;
    --income-foreground: 135 94% 65%;
    --expense: 0 91% 71%;
    --expense-foreground: 0 91% 71%;
  }

  .dark {
    --background: 231 15% 18%;
    --foreground: 60 30% 96%;
    --card: 231 15% 18%;
    --card-foreground: 60 30% 96%;
    --popover: 231 15% 18%;
    --popover-foreground: 60 30% 96%;
    --primary: 326 100% 74%;
    --primary-foreground: 60 30% 96%;
    --secondary: 265 89% 78%;
    --secondary-foreground: 60 30% 96%;
    --muted: 232 14% 31%;
    --muted-foreground: 60 30% 96%;
    --accent: 135 94% 65%;
    --accent-foreground: 60 30% 96%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 60 30% 96%;
    --border: 232 14% 31%;
    --input: 232 14% 31%;
    --ring: 326 100% 74%;

    --card-bg: hsl(231 15% 18%);
    --active-filter-bg: hsl(326 100% 74% / 0.2);
    --income: 135 94% 65%;
    --income-foreground: 135 94% 65%;
    --expense: 0 91% 71%;
    --expense-foreground: 0 91% 71%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
